@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.bdy-cont {
    box-sizing: border-box;
    /* border: 2px solid yellow; */
    background-color: rgb(246 250 255);
    border-radius: 15px;
    width: 80%;
    height: 30%;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 30px;

}

.bdy-status {
    /* border: 2px solid green; */
    width: 70%;
    display: flex;
    gap: 10px;
}

.bdy-status img {
    width: 25%;
}

.date {
    font-size: 0.7em;
    color: gray;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
}

.bdy-cont .prog {
    width: 70%;
}

@media only screen and (max-width:393px) {
    .name {
        font-size: 0.8em;
    }

    .date {
        font-size: 0.5em;
    }

    .prog {
        height: 4px;
        margin-bottom: 5px;
    }
}